/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}
.carousel-content {
    color: var(--dark);
    font-weight: 900;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
    border-radius: 3rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-content {
        font-size: 2rem;
    }
}

/* Owl Carousel navigation controls */
.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff; /* White color for the icons */
    font-size: 24px; /* Icon size */
    width: 40px; /* Button width */
    height: 40px; /* Button height */
    line-height: 40px;
    text-align: center;
    border-radius: 50%; /* Rounded buttons */
    cursor: pointer;
    z-index: 1000; /* Ensures buttons are on top */
}

.owl-carousel .owl-prev {
    left: 10px; /* Left navigation button position */
}

.owl-carousel .owl-next {
    right: 10px; /* Right navigation button position */
}

/* Add animation effects */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.slideInDown {
    animation-name: slideInDown;
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
